* {
  font-family: "Montserrat", sans-serif;
  list-style: none;}
.collapse {
  max-width: 1240px;
  margin: 35px auto;

  .collapse-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(250, 98, 98);

    h3 {
      color: white;
    }
    img {
      width: 25px;
      height: 15px;
    }
  }

  .collapse-content {
    padding: 0 10px;
    line-height: 25px;
    border-radius: 5px;
    background-color: rgba(238, 238, 238, 0.547);
    overflow: hidden;
    transition: max-height 0.2s ease;
   
  }
}