header {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 10px auto; // Assure que le header est centré
}

.banner {
  width: 80%; 
  max-width: 1240px;
  margin: 20px auto; // Aligne la bannière avec le header
  position: relative;
  border-radius: 25px;
  overflow: hidden; 
}

.banner-img {
  width: 100%;
  height: 223px; 
  object-fit: cover; 
  filter: brightness(45%);
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 48px;
  text-align: center;
  width: 100%; 
  padding: 0 20px; 
  box-sizing: border-box; 
  color: white;
}

/* Media Query pour les petits écrans */
@media (max-width: 768px) {
  
  .banner {
    width: 100%; 
    margin: 10px 0; 
    margin-left: 15px; 
    margin-right: 15px;
  }

  .banner-img {
    height: 150px;
    
  }

  .banner-text {
    font-size: 24px; 
    padding: 0 10px; 
  }
}