footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;

    .footerLogo {
      width: 100px;
      height: 100px;
     padding-top: 2cqb;
    }

    .footerText {
      color: white;
    }
  }
   
@media screen and (max-width: 768px) {
  
    footer {
    padding: 20px 15px;
    text-align: center; 
    

    .footerText {
      max-width: 140px;
      margin: 10px auto;
    }

    
  }

}