
.details {
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
  }
  
  .details-section {
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .details-title {
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: red;
   padding: 5px;
  }
  

  
  .arrow {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .details-text {
  
    margin-top: 0;
    padding: 10px; ;
    background-color: #f9f9f9;
  }
  