.collapse {
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  max-width: 800px;
  margin: auto;

  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: red; /* Title background color */
    color: white; /* Title text color */
    cursor: pointer;
    border-radius: 8px 8px 0 0; /* Rounded corners only on the top */
    font-size: 24px;
    font-weight: 700;

    .collapse-title {
      font-size: 24px;
      font-weight: 700;
    }

    .collapse-arrow {
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease-in-out;
      font-size: 18px;
      margin-left: 10px;
    }

    .rotate {
      transform: rotate(180deg);
    }
  }

  .collapse-content {
    padding: 15px;
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
    font-size: 16px;
  }
}
