.lodging-page {
  width: 90%;
  padding: 0px 20px;
  margin: 0 auto;

  .cover-image {
    object-fit: cover;
    border-radius: 25px;
    height: 415px;
    width: 100%;
  }

  .all-infos {
    margin-left: 50px;
    margin-right: 50px;

    @media screen and (max-width: 769px) {
      margin: 0;
    }
  }

  .first-case {
    margin: 20px 0;

    h2 {
      color: rgb(255, 100, 100);
      font-size: 1.7rem;
      font-weight: 500;
    }

    p {
      padding: 5px 0 20px;
      font-weight: 600;
    }

    ul {
      display: flex;
       
    }

    li {
      font-size: 0.8rem;
      color: white;
      background-color: rgb(255, 100, 100);
      padding: 5px 10px;
      margin-right: 10px;
      border-radius: 10px;
      text-align: center;

      border-radius: 10px;
      padding: 4px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 700;

      @media (max-width: 769px) {
        font-size: 10px;
      }
    }
  }

  .second-case {
    margin: 20px 0 0;
    display: flex;
    flex-direction: column-reverse; // Alignement en colonne
    align-items: flex-end; // Aligne les éléments à droite
    gap: 20px; // Espacement entre host et rating

    .host {
      display: flex;
      align-items: center;

      p {
        color: rgb(255, 100, 100);
      }

      .host-image {
        border-radius: 50%;
        width: 70px;
        margin: 0 0 15px 10px;
      }

      .headinfos {
        display: flex;
        flex-direction: column; // Assure que le nom du host est sous la photo
      }
    }

    .rate {
      .rating {
        display: flex;
        align-items: center;

        img {
          width: 25px;
          margin-left: 10px;
        }
      }
    }
  }

  .col-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    margin-top: 20px; // Ajoute une marge en haut

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 769px) {
    .first-case {
      width: calc(83% - 20px); // Largeur du titre alignée avec le carrousel
      margin-left: 20px;
    }

    .second-case {
      display: flex;
      flex-direction: row;
      align-items: center; // Centre les éléments en colonne
      gap: 10px; // Espacement entre host et rating
      justify-content: space-between;
      margin-right: 20px;
    }
  }
}
